/* variables */
:root{
    /* navigation bar */
    --clr-blue-input:#4C5FD5;
    --clr-black : #000;
    /* Banner */
    --clr-bg-banner:#DADBF1;
}
/* RESET */
*{
    margin: 0;
    padding: 0;
    list-style: none;
}

.reset-a, .reset-a:hover, .reset-a:visited, .reset-a:focus, .reset-a:active  {
    text-decoration: none;
    color: inherit;
    outline: 0;
    cursor:pointer;
}
/* Navigation */
nav{
    background: var(--clr-black);
    top: 0;
    color: white;
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}
.left-nav{
    display: flex;
    align-items: center;
    padding-left: 100px;
}
.right-nav{
    padding-right: 100px  ;
    display: flex;
    gap: 30px;
}
#Abstract-logo-title{
    font-weight: bold;
}
/* Submit a request BTN */
.request-btn{
    border: #DADBF1 1px solid;
    border-radius: 10px;
    padding: 15px 30px;
 
}
/* Sign in BTN */
.sign-in-btn{
    background: #4C5FD5;
    padding: 15px 20px;
    border-radius: 10px;
  
}
/* BANNER */
.banner{
    background: var(--clr-bg-banner);
    height: 388px;
    box-shadow: inset black ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    
}
.banner h1{
    font-size: 76px;
    font-weight: lighter;
}

/* SEARCHBAR */

.input-search-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 66px;
    width: 720px;
    border: black solid 2px;
    border-radius: 10px;
}
.search-bar, .search-bar:focus, .search-bar::selection{
    height: 100%;
    width: 100%;
    padding-left:10px ;
    border: none;
    background: white;
    border-radius: 10px 0 0 10px;
}

#arrow-search{
    background: white;
    border: none;
    height: 100%;
    width: 20px;
    border-radius: 0 10px 10px 0;
    padding-right:50px ;
    font-size: 30px;
    cursor: pointer;
}

/* Content */

.grid-content{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;

}
.column-main{
    display: flex;
    flex-direction: column;
    
}
.item-content{
    display: flex;
    justify-content: center;
    gap: 5%;
    padding: 10% 0;
}

.content-text{
    display: flex;
    flex-direction: column;
    width: 55%;
}
/* 
.grid-content {
    grid-template: "column-1 column-2" 200px
                   "column-1 column-2" 200px
                   "column-1 column-2";
    width: 700px;
}
.column-main-1{
    grid-area: 1;
    display: flex;
    flex-direction: column;
}
.column-main-2{
    grid-area: 2 ;
    display: flex;
    flex-direction: column;
} */